.break-container{
  display: flex;
  flex-direction: row;
}
.break-length{
  margin: 10px 0;
  height: 50px;
  width: 70px;
  background-color: #008CBA;
  color: #FFFFFF;
  border: none;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.break-decrement{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.break-increment{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

