.start_stop, reset {
  border: none;
  background-color: #ffffff;
  svg {
    font-size: 35px;
    color: #008cba;
  }
  
  svg:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
