@font-face {
  font-family: 'DIGI';
  src: local('DIGI'), url('./fonts/DS-DIGI.TTF') format('truetype');
}
body{
  background-color: black;
  font-family: 'DIGI';
}


.app-container {
  height:  420px;
  width: 700px;
  margin: 10% auto;
}

.break-session-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



